.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.gitignore
.ipynb_checkpoints/
Untitled.ipynb
clonal_inference/.ipynb_checkpoints/
clonal_inference/__pycache__/
clonal_inference/logs/
clonal_inference/nohup.out
clonal_inference/notebooks/.ipynb_checkpoints/
clonal_inference/notebooks/__pycache__/
clonal_inference/run_inference.sh
library_processing/mitochondria/config_test.yml
library_processing/mitochondria/data/cell_mixing/
library_processing/mitochondria/log_files/
library_processing/mitochondria/nohup.out
library_processing/mitochondria/raw_data/
library_processing/mitochondria/results/
library_processing/mitochondria/tmp/
library_processing/nuclear-snv/.ipynb_checkpoints/
library_processing/nuclear-snv/.snakemake/
library_processing/nuclear-snv/Untitled.ipynb
library_processing/nuclear-snv/config_test.yml
library_processing/nuclear-snv/data/
library_processing/nuclear-snv/log_files/
library_processing/nuclear-snv/raw_data/
library_processing/nuclear-snv/results/
library_processing/nuclear-snv/scripts/.ipynb_checkpoints/
library_processing/nuclear-snv/test/
library_processing/nuclear-snv/test_merged.bam
library_processing/nuclear-snv/tmp/
nohup.out
primer_design/example_P1/genomic_files/subsetted.bam
primer_design/example_P1/genomic_files/subsetted.bam.bai
